/*this page all for the styling of navgation*/
.ddsmoothmenu{
	margin-top: 10px;
}

.ddsmoothmenu ul{
	margin-left: 415px;
	padding-bottom: 30px;
	list-style-type: none;	
	display: inline-flex;
}

.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

.ddsmoothmenu ul li a {
	display: block;
	height: 23px;
	width: 74px;
	margin-left: 50px;
	line-height: 23px;
	font-size: 16px;
	font-family: Georgia,"Times New Roman", Times, serif,Arial;
	color: #cf0e0e;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover 
{ 
	background: url(../images/templatemo_menu_hover.png)
}
/*THE END*/